
div{
    border: 2px solid rgb(230, 5, 5);
    position: absolute;
    top:11%;
    left:35%;
    /* display: inline; */
    width:35%;
    height: 70%;
}
#cercle{
    background-color: blue;
    position: absolute;
    /* margin:100px 400px; */
    top:50%;
    left:50%;
    border-radius: 100%;
    width: 30px;
    height:30px;
    /* padding: 10px; */
    transition: top 1s ,left 1s;
    
    
}